{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<h1>Edit A User</h1>
<form class="edit-user-form" action="/users/{{user.id}}" method="POST">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" placeholder="{{user.first_name}}" required>
    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" placeholder="{{user.last_name}}" required>
    <label for="image-url">Image URL</label>
    <input type="text" name="image-url" placeholder="{{user.image_url}}" required>
    <div class="edit-buttons">
        <a href="/users">Cancel</a>
        <button class="add">
            Save User
        </button>
    </div>
</form>

{% endblock %}
{% block script %}{% endblock %}