{% extends 'base.html' %}
{% block title %}Update Feedback{% endblock %}
{% block content %}
<h1>Update Feedback</h1>
<p class="lead">Update your feedback below!</p>

<form method="POST">
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control", value=feedback[field.name])}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
    </p>
    {% endfor %}
    <button class="btn btn-success">Update Feedback</button>
</form>

{% endblock %}