<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Form</title>
</head>
<body>
    <h1>Enter Your Address</h1>
    {% if coords %}
        <h2>Lat: {{coords['lat']}}</h2>
        <h2>Long: {{coords['lng']}}</h2>
    {% endif %}
    <form action="/geocode">
        <input type="text" name='address' placeholder='Enter Address'>
        <button>Submit</button>
    </form>
</body>
</html>