<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>COVID-19 Stats & News</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/favicon.ico" alt="logo">
          <span>COVID-19 Stats & News</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if not g.user %}
        <li><a href="/signup"><i class="fas fa-user-plus"></i> Sign up</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-cog"></i> {{ g.user.username }} ({{g.user.location}})
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/favorites"><i class="far fa-bookmark"></i> View Saved Articles</a>
            <a class="dropdown-item" href="/users/{{g.user.username}}/location"><i class="far fa-compass"></i> Change
              Location</a>
            <a class="dropdown-item" href="/users/{{g.user.username}}/delete"><i class="fas fa-user-times"></i> Delete
              Account</a>
          </div>
        </li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content %}

  </div>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script>
    $("path, circle").hover(function (e) {
      $('#info-box').css('display', 'block');
      $('#info-box').html($(this).data('info'));
    });

    $("path, circle").mouseleave(function (e) {
      $('#info-box').css('display', 'none');
    });

    $(document).mousemove(function (e) {
      $('#info-box').css('top', e.pageY - $('#info-box').height() - 30);
      $('#info-box').css('left', e.pageX - ($('#info-box').width()) / 2);
    }).mouseover();

    var ios = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    if (ios) {
      $('a').on('click touchend', function () {
        var link = $(this).attr('href');
        window.open(link, '_blank');
        return false;
      });
    }
  </script>
</body>

</html>