{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-md-center">
    <div class="col-8 col-lg-6 m-auto">
      <h1>Delete User</h1>
      <p class="lead">Confirm your password below to delete your account.</p>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-danger btn-block btn-lg mt-2">Delete Account</button>
    </div>
  </div>
{% endblock %}