img {
    height: 250px;
    width: 250px;
}

.edit-image {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.not-available {
    opacity: .25;
}

.flashes {
    background-color: rgba(0, 255, 0, .2)
}