html {
    width: 100%;
    height: 100%;
}

#score {
    color: palevioletred;
}

body {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    perspective: 1000px;
    transition: color 1000ms;
}

.card {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(186, 102, 218, 1) 70%);
}

.flip-card {
    height: 100px;
    width: 100px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: rgb(2, 0, 36);
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(186, 102, 218, 1) 70%);
}

.flip-card-front, .flip-card-back {
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    background-image: "https://i.pinimg.com/originals/74/81/c7/7481c7ae72d4a72d0fe429d7bceb8ef0.gif";
    transform: rotateY(180deg);
}

img {
    width: 100%;
    height: 100%;

}

.scoreCard {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;

}

.scoreCard h2 {
    margin: auto;
    text-align: center;
    font-family: Luckiest Guy;
    font-size: 6vw;
}

.row {
    display: flex;
    width: 60%;
    padding: 4% 2% 2% 2%;
    margin: auto;
    align-content: space-evenly;
    justify-content: space-evenly;
}

#startScreen {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#gameScreen {
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
}

.scoreHeader {
    font-size: 2rem;
    color: palevioletred;
    font-family: Luckiest Guy;
    margin: 50px 0 100px 0;
}

.titleSpan {
    display: block;
    margin: -0 auto;
    font-size: 10rem;
    font-family: Luckiest Guy;
    transform: rotateX(50deg);
    width: 90%;
}

.startButton {
    border: none;
    background-color: steelblue;
    border-radius: .5rem;
    padding: 1rem 4rem;
    color: white;
    font-size: 1.5rem;
    font-family: Luckiest Guy;
}